# Ignore Terraform directories and lock files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.lock.info
execution.log

# Ignore common system files
.DS_Store
Thumbs.db


